* {
  border: 1px solid red
}
.tester {
  background-color: teal;
}
h6 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.img {
  height: 100px;
  width: 100px;
}
.logo {
  height: 100px;
  width: 120px;
}
.img-card {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.bg {
  background-color: white;
  background-image: linear-gradient(to left bottom, #b62b2b 50%, #ffffff 49%);
  
}
.row-break {
  border-bottom: 5px solid black;
  border-top: 5px solid white;
}

.navbar {
  flex-direction: row;
}

.iframe {
  float: right;
}
::-webkit-scrollbar {
  display: none;
}
.row-two {
  height: 500px;
  background-color: #b62b2b;
}
.row-three {
  height: 450px;
  background-color: white;
}
.row-four {
  background-color: #b62b2b;
}
.footer {
  background-color: black;
  color: white;
}
.card-position {
  position: relative;
  margin-bottom: -200px;
}
.card-row {
  height: 100px;
  background-color: white;
}
.button-position {
  position: relative;
  margin-bottom: -55px;
}